In [1]:
import pandas as pd

In [3]:
raw = """customer_id,data_used_gb,calls_made,revenue_inr,region,date
1001,5.2,25,180,Delhi,2025/09/25
1002,,40,280,Mumbai,2025-09-25
1003,7.8,32,210,chennai,25-09-2025
1004,15.6,55,,DELHI,2025-09-25
1005,3.4,18,120,Kolkata,2025-09-25
1005,3.4,18,120,Kolkata,2025-09-25
1006,8.7,52,150,Jabalpur,2025-09-25
1007,5.8,22,135,Bhopal,2025-09-25
1008,6.5,40,180,Gwailor,2025-09-25
1009,11.7,100,350,Indore,2025-09-25
1010,2.5,23,105,Chandigarh,2025-09-25
1011,9.5,50,190,Ambala,2025-09-25
1012,12.1,80,270,Bangalore,2025-09-25
1013,,37,205,Gurgaon,2025-09-25
1014,4.8,43,132,Hyderbad,2025-09-25
"""

In [4]:
open("telecom_usage.csv","w").write(raw)

579

In [7]:
pd.read_csv("telecom_usage.csv").head()

   customer_id  data_used_gb  calls_made  revenue_inr   region        date
0         1001           5.2          25        180.0    Delhi  2025/09/25
1         1002           NaN          40        280.0   Mumbai  2025-09-25
2         1003           7.8          32        210.0  chennai  25-09-2025
3         1004          15.6          55          NaN    DELHI  2025-09-25
4         1005           3.4          18        120.0  Kolkata  2025-09-25